.AddCustomers {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form .input .submit {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  background: var(--primary-color);
  color: var(--text-color-hover);
  border: none;
  font-size: 16px;
  cursor: pointer;
}