.Sign {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Sign form {
  max-width: 390px;
  padding: 25px 0px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--primary-color-light);
}

.Sign form img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.Sign form .signInput {
  width: 85%;
  padding: 15px 20px;
  background: var(--sidebar-color);
  margin: 15px 0px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(236, 232, 232);
}


.Sign form .signInput .signIcon {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Sign form .signInput .signIcon i {
  color: var(--text-color);
  font-size: 20px;
  margin-right: 8px;
}

.Sign form .signInput .signIcon input {
  width: 85%;
  color: var(--text-color);
  border: none;
  outline: none;
  font-size: 15px;
  background: transparent;
}

.Sign form button {
  width: 85%;
  height: 45px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background: var(--primary-color);
  color: var(--text-color-hover);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.Sign form .swapSign {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}

.Sign form .swapSign a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 15px;
  margin-left: 5px;
}

.Sign form .swapSign a:hover {
  color: var(--primary-color);
}

.Sign p {
  width: 85%;
  font-size: 15px;
  color: brown;
}

.Sign .setImage {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Sign .setImage img {
  width: 120px;
  height: 120px;
  margin: 0px;
}

.Sign .setImage .icon {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--image-color);
  z-index: 1;
}

.Sign .setImage .icon i {
  font-size: 40px;
  color: white;
}

.Sign .setImage .icon h4 {
  color: white;
}

.Sign .file {
  position: absolute;
  opacity: 0;
  top: 90px;
  left: 33%;
}

.Sign .success {
  width: 100%;
  text-align: center;
  color: green;
  font-size: 20px;
}

.Sign form .login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;

  padding: 12px 16px 12px 42px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 20px 14px;
}


@media(max-width:749px) {
  .Sign form {
    width: 95%;
  }
}